@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --clr: #1c1d1d;
    --bar: #1134b6;
}

body {
    background-color: var(--clr);
    color: white;
    font-family: 'Roboto', sans-serif;
}

main {
    margin-left: 150px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption {
    text-align: center;
}

#navigation {
    width: 120px;
    height: 100vh;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--bar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    list-style: none;
}
#navigation li {
    border-radius: 50%;
    margin: 20px;
    width: 100px;
    height: 100px;
    transition: 0.5s;
    border: solid 10px var(--clr);
    background-color: white;
}
#navigation a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navigation ion-icon {
    font-size: 4rem;
}
#navigation span {
    font-size: 1rem;
}
#navigation li:hover {
    transform: translateX(50px);
}