@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.title {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

#navigationButton {
    float: left;
    position: fixed;
    z-index: 1;
}
#navigationButton div {
    height: 10px;
    width: 50px;
    margin: 7px;
    background-color: white;
    transition: 0.5s;
}
#navigationMenu {
    height: 100vh;
    width: 0;
    background-color: lightgreen;
    transition: 0.5s;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    position: fixed;
}
#navigation:hover #navigationMenu {
    width: 100px;
}
#navigation:hover #topSquare {
    transform: translateY(17px) rotate(45deg);
}
#navigation:hover #bottomSquare {
    transform: translateY(-17px) rotate(-45deg);
}
#navigation:hover #middleSquare {
    opacity: 0;
}
#navigation:hover .navigationItem {
    margin-left: 30px;
}
.navigationItem:first-of-type {
    margin-top: 150px;
}
.navigationItem {
    margin-top: 20px;
    margin-left: -100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    transition: 0.5s;
    background-color: rgb(20, 20, 20);
}
.navigationItem a {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -40px 0px 0px -40px;
    background-color: white;
    position: absolute;
    color: black;
    font-size: 2rem;
}
.navigationItem:hover {
    transform: translateX(50px);
}

figure {
    float: left;
}

img {
    width: 300px;
    height: 400px;
}