* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    scroll-behavior: smooth;
    transition: background-color 1s ease;
}

ul {
    list-style: none;
}

li {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: 300px;
    width: 300px;
    margin: 20px;
    border: 5px black solid;
}

figure {
    display: flex;
}

figure * {
    opacity: 0;
    transform: translateY(150px);
    transition: all .5s ease;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

#title {
    text-align: center;
    height: 100vh;
    margin-top: 50px;
}

.active {
    opacity: 1;
    transform: translateY(0);
}